@model IEnumerable<PedidoResponseDTO>

@{
    ViewData["Title"] = "Todos os Pedidos";

    if (TempData["FalhaExclusaoPedido"] != null){
        <div class="alert alert-danger" role="alert">
            @TempData["FalhaExclusaoPedido"]
        </div>
    }

    if (TempData["SucessoExclusaoPedido"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SucessoExclusaoPedido"]
        </div>
    }
}

<link rel="stylesheet" href="~/css/card-pedido.css" asp-append-version="true" />



<h2>PRÓXIMOS PEDIDOS</h2>

<div id="pedidos-container" class="cards-container">
    @foreach (var Pedido in Model) {
        <div class="card" data-pedido-id="@Pedido.Id" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">PEDIDO @Pedido.Id - @Pedido.DataHora</h5>
                <h6 class="card-subtitle mb-2 text-muted">MESA @Pedido.Mesa.Numero</h6>
                <ul class="list-group">
                    @foreach (var itemPedido in Pedido.Itens) {
                        <li class="list-group-item">
                            <p>@itemPedido.Prato.Nome - Qtde. @itemPedido.Quantidade</p>

                            @if(itemPedido.Observacoes != ""){
                                <p>OBS: @itemPedido.Observacoes</p>
                            }
                        </li>
                    }
                </ul>
                <div class="container-button">
                    <a class="btn btn-outline-danger btn-sm" asp-route-pedidoId="@Pedido.Id" asp-action="ExcluirPedido" asp-controller="Pedido">
                        Remover
                    </a>
                    <button type="button" class="btn btn-outline-info btn-sm" onclick="this.parentElement.remove()">
                        Alterar Status
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<audio id="pedidoNovoSound" preload="auto">
    <source src="~/sounds/pedido-novo.mp3" type="audio/mpeg">
</audio>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script src="~/js/adicionarPedidoNaTela.js"></script>
<script src="~/js/tocarSomPedidoNovo.js"></script>


<!--Script SignalR-->
<script>
    const token = document.cookie
    .split('; ')
    .find(row => row.startsWith('access_token='))
    ?.split('=')[1];

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("https://localhost:7071/pedidoHub", {
            accessTokenFactory: () => {
                return '@Context.Session.GetString("JWToken")';
            }
        })
        .withAutomaticReconnect()
        .build();

    connection.start()
        .then(() => console.log("Conectado ao SignalR Hub"))
        .catch(err => console.error(err.toString()));

    connection.on("NovoPedido", function (pedido) {
        console.log("Novo pedido recebido:", pedido);
        adicionarPedidoNaTela(pedido);
        tocarSomNovoPedido();
    });
</script>   

<!--Scrip tocar som-->
<script>
    let audioLiberado = false;

    document.addEventListener('click', () => {
        if(!audioLiberado){
            const audio = document.getElementById('pedidoNovoSound');
            audio.play().then(() => {
                audio.pause();
                audio.currentTime = 0;
                audioLiberado = true;
            })
        }
    });
</script>