@model IEnumerable<PedidoResponseDTO>

@{
    ViewData["Title"] = "Todos Pedidos";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">QTD. ITENS</th>
            <th scope="col">VALOR</th>
            <th scope="col">MESA</th>
        </tr>
    </thead>
    <tbody id="tbody-pedidos">
        @foreach(var pedidoItem in Model){
            <tr>
                <th scope="row">@pedidoItem.Id</th>
                <td>@pedidoItem.Itens.Count()</td>
                <td>R$ @pedidoItem.ValorTotal.ToString("F2")</td>
                <td>@pedidoItem.Mesa.Numero</td>
            </tr>
        }
    </tbody>
</table>


<audio id="pedidoNovoSound" preload="auto">
    <source src="~/sounds/pedido-novo.mp3" type="audio/mpeg">
</audio>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script src="~/js/adicionarPedidoFinalizadoTabela.js"></script>
<script src="~/js/tocarSomPedidoNovo.js"></script>


<!--Script SignalR-->
<script>
    const token = document.cookie
    .split('; ')
    .find(row => row.startsWith('access_token='))
    ?.split('=')[1];

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("https://localhost:7071/pedidoHub", {
            accessTokenFactory: () => {
                return '@Context.Session.GetString("JWToken")';
            }
        })
        .withAutomaticReconnect()
        .build();

    connection.start()
        .then(() => console.log("Conectado ao SignalR Hub"))
        .catch(err => console.error(err.toString()));

    connection.on("NovoPedidoFinalizado", function (pedido) {
        console.log("Novo pedido finalizado recebido:", pedido);
        adicionarPedidoNaTela(pedido);
        atualizarTotalPedidos();
        tocarSomNovoPedido();
    });
</script>

<!--Scrip tocar som-->
<script>
    let audioLiberado = false;

    document.addEventListener('click', () => {
        if(!audioLiberado){
            const audio = document.getElementById('pedidoNovoSound');
            audio.play().then(() => {
                audio.pause();
                audio.currentTime = 0;
                audioLiberado = true;
            })
        }
    });
</script>